WCF/1109_MemberClient/1109_MemberClient/Connected Services/ServiceReference1/MemberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MemberService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/wcf/wb34/MemberService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/wcf/wb34/MemberService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/wcf/wb34/MemberService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost/wcf/wb34/MemberService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/_1109_MemberService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IMemberService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMemberService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IMemberService_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_SelectAll_Table_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll_Table" />
  </wsdl:message>
  <wsdl:message name="IMemberService_SelectAll_Table_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll_TableResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_Select_Number_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_Number" />
  </wsdl:message>
  <wsdl:message name="IMemberService_Select_Number_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_NumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_Select_Group_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_Group" />
  </wsdl:message>
  <wsdl:message name="IMemberService_Select_Group_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_GroupResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemberService">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/Insert" message="tns:IMemberService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/InsertResponse" message="tns:IMemberService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/Delete" message="tns:IMemberService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/DeleteResponse" message="tns:IMemberService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/update" message="tns:IMemberService_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/updateResponse" message="tns:IMemberService_update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll_Table">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/SelectAll_Table" message="tns:IMemberService_SelectAll_Table_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/SelectAll_TableResponse" message="tns:IMemberService_SelectAll_Table_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_Number">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/Select_Number" message="tns:IMemberService_Select_Number_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/Select_NumberResponse" message="tns:IMemberService_Select_Number_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_Group">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/Select_Group" message="tns:IMemberService_Select_Group_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/Select_GroupResponse" message="tns:IMemberService_Select_Group_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberService" type="tns:IMemberService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IMemberService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMemberService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IMemberService/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_Table">
      <soap:operation soapAction="http://tempuri.org/IMemberService/SelectAll_Table" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_Number">
      <soap:operation soapAction="http://tempuri.org/IMemberService/Select_Number" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_Group">
      <soap:operation soapAction="http://tempuri.org/IMemberService/Select_Group" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberService">
    <wsdl:port name="BasicHttpBinding_IMemberService" binding="tns:BasicHttpBinding_IMemberService">
      <soap:address location="http://localhost/wcf/wb34/MemberService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>