WCF/1109_MemberClient/1109_MemberClient/Connected Services/ServiceReference1/MemberService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_1109_MemberService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_1109_MemberService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="GName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GNumber" type="xs:int" />
      <xs:element minOccurs="0" name="MName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNumber" type="xs:int" />
      <xs:element minOccurs="0" name="MPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
</xs:schema>