WCF/1103_Client/1103_Client/Web References/localhost/test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ShowHello">
        <s:complexType />
      </s:element>
      <s:element name="ShowHelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowHelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShowHelloSoapIn">
    <wsdl:part name="parameters" element="tns:ShowHello" />
  </wsdl:message>
  <wsdl:message name="ShowHelloSoapOut">
    <wsdl:part name="parameters" element="tns:ShowHelloResponse" />
  </wsdl:message>
  <wsdl:portType name="ShowHelloServiceSoap">
    <wsdl:operation name="ShowHello">
      <wsdl:input message="tns:ShowHelloSoapIn" />
      <wsdl:output message="tns:ShowHelloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShowHelloServiceSoap" type="tns:ShowHelloServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowHello">
      <soap:operation soapAction="http://tempuri.org/ShowHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShowHelloServiceSoap12" type="tns:ShowHelloServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowHello">
      <soap12:operation soapAction="http://tempuri.org/ShowHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShowHelloService">
    <wsdl:port name="ShowHelloServiceSoap" binding="tns:ShowHelloServiceSoap">
      <soap:address location="http://localhost/wb34/test.asmx" />
    </wsdl:port>
    <wsdl:port name="ShowHelloServiceSoap12" binding="tns:ShowHelloServiceSoap12">
      <soap12:address location="http://localhost/wb34/test.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>